################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/.vs
/WezwijPomoc/.vs
/WezwijPomoc/WezwijPomoc/bin/EntityFramework.SqlServer.xml
/WezwijPomoc/WezwijPomoc/bin/EntityFramework.xml
